<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzk.mapper.WxResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rzk.pojo.WxResource">
        <id column="id" property="id" />
        <result column="create_master" property="createMaster" />
        <result column="url" property="url" />
        <result column="uri" property="uri" />
        <result column="fetch_code" property="fetchCode" />
        <result column="file_name" property="fileName" />
        <result column="failure_type" property="failureType" />
        <result column="qr_code" property="qrCode" />
        <result column="pdf" property="pdf" />
        <result column="user_number" property="userNumber" />
        <result column="deleted" property="deleted" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_master, url, uri, fetch_code, file_name, failure_type, qr_code, pdf, user_number, deleted, update_time, create_time
    </sql>

</mapper>
